/* This is a design from the simple CSS Responsive Header & NAV named trueblue.css

with help from: http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu4

This html must be included in <body>, or responsibly changed from within:

	<header>
		<a href="#" id="logo"></a>
			<nav>
				<a href="#" id="menu_icon"></a>
				<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Help</a></li>
				</ul>
			</nav>
	</header>

*/

@import url('../css/trueblue.css'); /* all original styles are here: */ 

header { /* make FIXED and TOP LEFT 0 0 and Z INDEX */
	border-bottom: 2px solid salmon;
	background: white;
}

#logo { /* Changes logo to static pink */
	background-position: 0% 100%;

}

#logo:hover { /* changes logo to hover blue */
	background-position: 0 -2%;

}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
														ADD'Ts to MENU STYLES HERE
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#menu_icon {
	background: salmon url('../images/plus1.png') no-repeat;
}

nav li:hover a {
	color: salmon;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
														ADD'Ts to MEDIA QUERIES HERE
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 680px) {
	
	nav ul, nav:active ul { /* make display off but ABSOLUTE positioned, then define its width and position on screen, then whatever pretty stuff like borders */
		border: 2px solid salmon;
	}
}
