/* USE AS MASTER FOR THIS STYLE ---------------------------------------------------

This is a design from the simple CSS Responsive Header & NAV named trueblue.css

with help from: http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu4

This html must be included in <body>, or responsibly changed from within:

	<header>
		<a href="#" id="logo"></a>
			<nav>
				<a href="#" id="menu_icon"></a>
				<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Help</a></li>
				</ul>
			</nav>
	</header>

*/

header { /* make FIXED and TOP LEFT 0 0 and Z INDEX */
	height: 89px;
	width: 100%;
	position: fixed;
		top: 0;
		left: 0;
	background: black	;
	border-bottom: 2px solid #3377ff;
	z-index: 1;
}

#logo { /* make float left and give MARGIN */
	display: block;
	margin: .625em /* 10px */;
	float: left;
	width: 200px;
	height: 4.3125em; /* 69px */
	background: url('../images/trueblue_logo_double.png') no-repeat;
	background-position: 0% -2%;
	background-size: 200px 138px;
	overflow: hidden;
	border-radius: 5px;
}

#logo:hover { /* make float left and give MARGIN */
		background-position: 0 100%;

}

/*make sure image is 100% */
nav img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #aaa;
	font-weight: bold;
}

/* HOVER CHANGES ARE ON LI 
a:hover {
	color: blue;
} */

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
														MENU STYLES HERE
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

nav { /* make float RIGHT and give padding */
	float: right;
	padding: 1.5625em; /* 25px/16 */
}

nav ul { /* make pretty */
	list-style: none;
}

nav ul li { /* make float LEFT and give padding, this is a BLOCK element */
	display: inline-block;
	float: left;
	padding: 10px;
}

#menu_icon {
	display: hidden;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: lightblue url('../images/plus1.png') no-repeat;
	overflow:hidden;
}

a#menu_icon:hover { /* the two names a:hover and #menu_icon must be connected bc it is an Anchor tag with an ID of #menu_icon */
	background: white url('../images/plus1.png') no-repeat;
	background-position: 100% 0;
}	

nav li:hover a {
	color: lightblue;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
														MEDIA QUERIES HERE
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 680px) {
	
	header { /* make header ABSOLUTE to allow for scrolling */
		position: absolute;
	}
	
	#menu_icon { /* make display INLINE-BLOCK */
		display: inline-block;
		overflow: hidden;
		transition: all .1s ease-in-out;
		}
	
	nav ul, nav:active ul { /* make display off but ABSOLUTE positioned, then define its width and position on screen, then whatever pretty stuff like borders */
		display: none;
		position: absolute;
		width: 100%;
		right: 0;
		top: 70%;
		background: white;
		border-radius: 0px;
		border: 2px solid lightblue;
		z-index: 100;
	}
	
	nav:hover ul { /* this is a BLOCK element now, and corresponding to the commmand ^^ */
		display: block;
	}
	
	nav li { /* align the text, specify width100%, then padding n margin in the way you want it */
		text-align: center;
		width: 100%;
		padding: 20px 0;
		margin: 0;
	}
}
