p {
	font-size: 24px;
}

.quote {
	font-family: lucida console;
	text-align: center;
	background: #f0f0f0;
	border: 2px solid #e0e0e0;
	padding: 10px;
	margin: 10px;
	width: 40%;
	float: left;	
}

.quote span {
	padding: 30px;
	font-style: italic;
	font-family: times new roman;
	font-style: italic;
}