/*

This is a 4 window container and this is how it should look in HTML:

<div id="services_container">
			
	<div class="services">
		<a href="#m">
		<h3>Description Overload</h3>
		</a>
		<div class="details"></div>
	</div>
			
	<div class="services">
		<a href="#m">
		<h3>Description Overload</h3>
		</a>
		<div class="details"></div>
	</div>
			
	<div class="services">
		<a href="#m">
		<h3>Description Overload</h3>
		</a>
		<div class="details"></div>
	</div>

	<div class="services">
		<a href="#m">
		<h3>Description Overload</h3>
		</a>
		<div class="details"></div>
	</div>
			
</div><!--services container-->

*/

#services_container {
	max-width: 50%;
	height: auto;
	border: 1px solid lightblue;
	display: inline-block;
	position: relative;
	left: 26.59%;
	
}

#services_container a {
	text-decoration: none;	
}

div.services { /* the DIV container for the image n caption floats left, auto HxW */
    margin: 5px;
    padding: 5px;
    border: 1px solid lightblue;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.services img { /* the IMG inside of the .img CLASS is displayed INLINE */
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.services a:hover img {
    background: lightblue;
	transition: all 1s ease-in-out;
}

div.details { /* notice how the details have a width */
    text-align: center;
    font-weight: normal;
    width: 12.5em;
	height: 12.5em;
	margin: 0 auto;
	background: lightblue;	
}

	div.services_mobile a {
	display: none;
}


/* ------------------------------------------- MEDIA QUERIES 

----------------------------------------------------------*/

@media screen and (min-width: 888px) and (max-width: 1776px) {
		#services_container {
			width: 30%;
			left: 36%;
		}
		
		div.services {
		display: block;
		}
}

@media screen and (max-width: 887px) {
		#services_container {
			width: 100%;
			margin: 0 auto;
		}
	
		div.services {
			display: none;
		}
		
		div.services_mobile a {
			display: inline;
			padding: 5%;
			width: 100%;
		}
}