/*


This content block comes with:

1. container class
2. byline class
3. mobile browsing block for newsprint style
4. scroll arrow overlay for big pictures

Media Queries:
1. content block will resize from 3 columns to 2 to 1
2. On smaller screens, content will be pushed to the top, regardless of the content below.


HTML should be used in this order: 

<div class="content">
	<div class="picture_v"></div>
	<div class="logo_v"></div>
	<div class="scrollArrow"></div>
	<div class="byline">By Author</div>
	<div class="block">
		<p class="larger"></P>
	</div><!--block-->
</div><!--content-->


*/


p {
	margin: 20px 0 20px 0;
}

.content {
	background: white;
	max-width: 75%;
	position: relative;
	top: 10%;
	margin: 0 auto;
}


.picture_v {
	background: lightblue url('../images/v_1.jpg') no-repeat top center;
	background-size: cover;
	height: 500px;
	width: 100%;
	margin: 0 0 10px 0;
}

.logo_v {
	background: lightblue ;
	background-size: cover;
}

#byline {
	font-size: 75%;
	font-style: italic;
	padding-left: 4em;
	padding-top: 4em;
}

.block { 
	background: white; 
	max-width: 75%;
	margin: 0 auto;
	height: auto;
	padding: 1.75em;
	text-align: left;
	-moz-column-count: 3;
       -moz-column-gap: 10;
       -webkit-column-count: 3;
       -webkit-column-gap: 10;
}

#larger { /* might as well use h3 */
	margin-top: 0em;
	font-size: 1.3em;
	line-height: 1.1em;
		transition: all .1s ease-in-out;
}

.scrollArrow {
	display: block;
	width:4em;
	height:4em;
	border-radius:2em;
	font-size: 1em;
	color:#333;
	line-height:4em;
	text-align:center;
	font-weight:normal;
	background:#fff;
	position: relative;
	top: -5.75em;
	margin: 0 auto;
		transition: all .1s ease-in-out;

}

.scrollArrow:hover {
	text-decoration: underline;
	background:lightblue;
	transition: all .1s ease-in-out;
}


/* ------------------------------------------- MEDIA QUERIES 

----------------------------------------------------------*/

@media screen and (min-width: 780px) and (max-width: 1280px) {
		.content {
			transition: all .5s ease-in-out;
		}
		
		.block {
			-moz-column-count: 2;
			-moz-column-gap: 10;
			-webkit-column-count: 2;
			-webkit-column-gap: 10;
			transition: all .5s ease-in-out;
		}
}

@media screen and (max-width: 779px) {
		.content {
			transition: all .5s ease-in-out;
		}
		
		.block {
			-moz-column-count: 1;
			-moz-column-gap: 10;
			-webkit-column-count: 1;
			-webkit-column-gap: 10;
			transition: all .5s ease-in-out;
		}		
		
		.scrollArrow {
			opacity: .5;
			filter: alpha(opacity=.5);
		}
		
		.scrollArrow:hover {
			opacity: 1;
			filter: alpha(opacity=1);
		}
		
		.picture_v {
			background: lightblue url('../images/v_1.jpg') no-repeat;
			background-size: cover;
			height: 200px;
			width: 100%;
			margin: 10px;
		}

		.logo_v {
			background: lightblue ;
			background-size: cover;
		}
		
}

@media screen and (max-width: 479px) {
		.content {
			top: 100px;
			transition: all .5s ease-in-out;
		}
		
		#byline {
			position: relative;
			top: 50%;
			left: 50%;
			font-size: 75%;
			font-style: italic;
			padding-left: 1em;
		}
		
		.block {
			-moz-column-count: 1;
			-moz-column-gap: 5px;
			-webkit-column-count: 1;
			-webkit-column-gap: 5px;
			transition: all .5s ease-in-out;
		}
		
		#larger {
			font-size: 1.3em;
		}
		
		.scrollArrow {
			display: none;
		}
}
